{% extends '/web/base.html' %}

{% block body %}
<article>
  <aside class="l_box">
      <div class="about_me">
        <h2>关于我</h2>
        <ul>
          <i><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2559964146,769476344&fm=26&gp=0.jpg"></i>
          <p><b>老王</b>，一个名不见，经不撰，其貌不扬，身高不到七尺但却拥有一个有趣的灵魂的码农</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>我的相册</h2>
        <ul>
          <li><a href="javascript:;"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556206795514&di=c65d4e2180b26f23bbc51a19ecf81e8e&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201505%2F02%2F20150502145033_kXQT5.jpeg"></a></li>
          <li><a href="javascript:;"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556207125901&di=2a335b40047e797e59b1cc03ae9570ef&imgtype=0&src=http%3A%2F%2Fww1.sinaimg.cn%2Fthumb180%2F0062OvZ1jw1f18nmpvtc3j30zk0nptbm.jpg"></a></li>
          <li><a href="javascript:;"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556207125935&di=30c7a24162072225edfffa4c0860463f&imgtype=0&src=http%3A%2F%2Fcdnq.duitang.com%2Fuploads%2Fitem%2F201307%2F01%2F20130701005923_WhJym.thumb.224_0.jpeg"></a></li>
          <li><a href="javascript:;"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2167770039,657517411&fm=26&gp=0.jpg"></a></li>
          <li><a href="javascript:;"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2167770039,657517411&fm=26&gp=0.jpg"></a></li>
          <li><a href="javascript:;"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2167770039,657517411&fm=26&gp=0.jpg"></a></li>
        </ul>
      </div>
      <div class="search">
        <form action="/web/index" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
          {% for category in category_list %}
          <li>
            <a href="{{ url_for('web.info_content', category_id=category.category_id) }}"
               name="article_category">{{ category.category_name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
  </aside>
  <main class="r_box">
    <div class="content_div">
    {% for article in article_list %}
    {% if article.article_status == 0 %}
    <li>
      <i><a href="javascript:;"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556207322877&di=000b7aef44867b51438da9c5213ecb29&imgtype=0&src=http%3A%2F%2Fimg.mukewang.com%2F5a31d8db0001337013160676.jpg"></a></i>
      <h3><a href="javascript:;">{{ article.article_title }}</a></h3>
      <p>{{ article.article_content | safe }}</p>
    </li>
    {% endif %}
    {% endfor %}
      </div>
    <div class="pagelist">
        {% for page in page_list %}
          &nbsp;<a href="#" class="curPage" {% if page==1 %} style="background: #00a2d4" {% endif %}>{{ page }}
        </a>
        {% endfor %}
    </div>
  </main>
</article>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $('#content_div').on('click', '#content_div li', function () {

    });

    $('.pagelist').on('click', '.curPage', function () {
        var page = $(this).text();
        $('#content_div').empty();
        $(this).css("background", "#00a2d4").siblings().css("background","");
        console.log(page);
        $.ajax({
            type: "post",
            url: "{{ url_for('web.index') }}",
            data: {'page': $(this).text()} ,
            dataType: "json",
            success: function (data) {
                len = Object.keys(data).length;
                for(var j=0; j<len && j<5; j++){
                    var article_title = data[j].article_title;
                    var article_content = data[j].article_content;
                    var li = $('<li></li>').appendTo($('#content_div'));
                    var i = $('<i></i>').appendTo(li);
                    var a = $('<a></a>').appendTo(i);
                    var img = $('<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556207322877&di=000b7aef44867b51438da9c5213ecb29&imgtype=0&src=http%3A%2F%2Fimg.mukewang.com%2F5a31d8db0001337013160676.jpg">').appendTo(a);
                    var title = $('<h3><a href="#">'+ article_title +'</a></h3>');
                    var content = $('<p>' + article_content + '</p>');
                    title.appendTo(li);
                    content.appendTo(li);
                }
            }
        })
    })
</script>
{% endblock %}
